.clickable-category {
  background-size: cover;
  width: 92px;
  height: 97px;

  color: rgb(11, 154, 250);
  font-size: 5rem;
  padding-bottom: 0.2px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  border-radius: 7px;
  transition: all 0.2s linear;
  cursor: pointer;
  display: flex;

  max-width: 100vw;
  overflow-x: hidden;
  /* background-image: url('/public/assets/btn-images/family.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.clickable-category:hover {
  transform: scale(1.09);
}
.div-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  font-family: 'Rubik Doodle Shadow', system-ui;
}
.home-page-title {
  font-size: 5rem;
}
.P-container {
  display: flex;
  flex-direction: column;
  /* border: solid yellow 2px; */
  width: 25%;
}
.P-container .ma {
  padding-left: 90%;
  transition: all 0.2s linear;
}
.P-container .ba {
  padding-left: 70%;
  transition: all 0.2s linear;
}
.P-container .lanu {
  padding-left: 45%;
  transition: all 0.2s linear;
}
.P-container .leshacek {
  padding-left: 10%;
  transition: all 0.2s linear;
}

.P-container:hover {
  transform: scale(1.09);
}
.font-color {
  color: ;
}
